#d3Square {
  height: 100px;
  width: 100px;
  background-color: steelblue;
  margin: 5px;
}

.displayTn {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 8px;
}

.tn {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 40px;
  font-weight: bold;
}
