.displayTn {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 8px;
}

.tn {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 40px;
  font-weight: bold;
}

/* arrow */
.arrow {
  width: 1000px;
  margin: 10px auto;
}

.line {
  margin-top: 6px;
  width: 970px;
  background: greenyellow;
  height: 4px;
  float: left;
}
.point {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 30px solid;
  float: right;
}

/* square */
.d3Square {
  height: 100px;
  width: 100px;
  background-color: steelblue;
  margin: 5px;
}
