<h1 class="ta"> 
    ௦
    ௧
    ௨
    ௩
    ௪
    ௫
    ௬
    ௭
    ௮
    ௯
    ௰
 </h1>

 <div class="mb-3">
    <label for="numbers" class="form-label">Enter Numbers</label>
    <input type="email" class="form-control" id="numbers" placeholder="" (keyup)="numToTamil($event)">{{numbers}}
  </div>
  <div class="mb-3">
    <label for="tamilNumbers" class="form-label">Equalent Numbers in TAMIL</label>
    <!-- <textarea class="form-control" id="tamilNumbers" rows="3" readonly></textarea> -->
    <h1 class="ta">{{tamilNumbers}}</h1>
  </div>