<div class="container-fluid">
  <div class="row">
    <h1 class="tn">௦ ௧ ௨ ௩ ௪ ௫ ௬ ௭ ௮ ௯ ௰</h1>
  </div>

  <div class="row">
    <label for="numbers" class="form-label">Enter Numbers</label>
    <input type="email" class="form-control" id="numbers" placeholder="" (keyup)="numToTamil($event)" />{{ numbers }}
  </div>

  <div class="row">
    <label for="tamilNumbers" class="form-label">Equalent Numbers in TAMIL</label>
  </div>

  <div class="row">
    <label class="displayTn">{{ tamilNumbers }}</label>
  </div>

  <div class="row">
    <div id="d3Square" class=""></div>
  </div>
</div>