<p-menubar class="heading-menubar" >
    <div class="heading-items" style="display: inline-flex;">
        <div class="logo-name" style="">
            ENGAL
        </div>
        <!-- <div class="">
            <img class="logo-img" style="height:2.2rem;" src="./assets/icons/icon-192x192.png">
        </div> -->
        
        <!-- <input class="heading-search" type="text" pInputText placeholder="Search"> -->
        <div>
        <button class="fullmenu" type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large" pButton style="margin-left:.25em; color: unset;"></button>       
    </div>
    </div>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <h1 style="font-weight:normal">ENGAL (The World Of Numbers)</h1>
    <div class="">
        <p-button (onClick)="home($event)" icon="pi pi-home"  label="HOME" styleClass="footer-buttons p-button-outlined p-mr-2" gclass="p-mr-2" pTooltip="Home"></p-button>
        <p-button  (onClick)="mutualFunds($event)" icon="pi pi-sliders-v" label="M-FS" styleClass="footer-buttons p-button-outlined p-mr-2" pTooltip="Mutual Funds"></p-button>
        <p-button (onClick)="options($event)" icon="pi pi-step-forward" label="OPTS" styleClass="footer-buttons p-button-outlined" pTooltip="Options"></p-button>
    </div>
</p-sidebar>