<!-- <p-button icon="pi pi-chevron-left" (click)="goBack()"></p-button> -->

<p-tabView [style]="" styleClass="mytabs" [(activeIndex)]="activeTabIndex" (onChange)="onChangeTab($event);" class="option-analyser" style="">
    <p-tabPanel header="CUR-M">
            <ng-template [ngIf]="isCurrentMonthData">
            <div>
                <ag-grid-angular 
                    style="width: 100%; height: 75vh; overflow-x: hidden;" 
                    class="ag-theme-alpine" 
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef" 
                    [rowHeight]="rowHeight" 
                    [headerHeight]="" 
                    (gridOptions)="gridOptions"
                    (gridReady)="onGridReady($event)" 
                    [suppressHorizontalScroll]=false
                    [suppressDragLeaveHidesColumns]=true
                    [groupHeaderHeight]="30"
                    [headerHeight]="30"
                    [floatingFiltersHeight]="30" >
                </ag-grid-angular>
            </div>
        </ng-template>
    </p-tabPanel>  
    <p-tabPanel header="NXT-M">
        <ng-template [ngIf]="isNextMonthData">
            <div>
                <ag-grid-angular 
                    style="width: 100%; height: 75vh; overflow-x: hidden !important;" 
                    class="ag-theme-alpine" 
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef" 
                    [rowHeight]="rowHeight" 
                    [headerHeight]="" 
                    (gridOptions)="gridOptions"
                    (gridReady)="onGridReady($event)" 
                    [suppressHorizontalScroll]=false
                    [suppressDragLeaveHidesColumns]=true
                    [groupHeaderHeight]="30"
                    [headerHeight]="30"
                    [floatingFiltersHeight]="30" >
                </ag-grid-angular>
            </div>
        </ng-template>
    </p-tabPanel>    
    <p-tabPanel header="LST-M" >
        <ng-template [ngIf]="isLastMonthData">
            <div>
                <ag-grid-angular 
                    style="width: 100%; height: 75vh; overflow-x: hidden;" 
                    class="ag-theme-alpine" 
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef" 
                    [rowHeight]="rowHeight" 
                    [headerHeight]="" 
                    (gridOptions)="gridOptions"
                    (gridReady)="onGridReady($event)" 
                    [suppressHorizontalScroll]=false
                    [suppressDragLeaveHidesColumns]=true
                    [groupHeaderHeight]="30"
                    [headerHeight]="30"
                    [floatingFiltersHeight]="30" >
                </ag-grid-angular>
            </div>
        </ng-template>
    </p-tabPanel>
<!--
    <p-tabPanel header="ALL-SYM">
        <ng-template [ngIf]="isAllFundsTab">
            
        </ng-template>
    </p-tabPanel>
-->
    <p-tabPanel header="OT-INFO">
        <ng-template [ngIf]="isOptInfo">
        </ng-template>
        <ng-template [ngIf]="!isOptInfo">
            Please select any symbol for details. 
        </ng-template>
    </p-tabPanel>
</p-tabView>
