<p-button icon="pi pi-chevron-left" (click)="goBack()"></p-button>

<p-tabView [(activeIndex)]="index">

    <p-tabPanel header="Watch List">
        <div>
            <ag-grid-angular id="watchListGrid" style="width: 100%; height: 400px; overflow-x: hidden;"
                class="ag-theme-alpine" [rowData]="watchListRowData" [columnDefs]="watchListColumnDefs"
                [defaultColDef]="watchListDefColDef" [rowHeight]="watchListRowHeight" (gridReady)="watchListOnGridReady($event)"
                >
            </ag-grid-angular>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Portfolio">
        Content 3
    </p-tabPanel>
    <p-tabPanel header="Fund Info">
        <div>
            <ag-grid-angular id="metaGrid" style="width: 100%; height: 400px; overflow-x: hidden;"
                class="ag-theme-alpine" [rowData]="metaRowData" [columnDefs]="metaColumnDefs"
                [defaultColDef]="metaDefaultColDef" [rowHeight]="metaRowHeight" (gridReady)="metaOnGridReady($event)"
                [rowSelection]="metaRowSelection" (selectionChanged)="metaOnSelectionChanged($event)">
            </ag-grid-angular>
        </div>
        <div>
            <ag-grid-angular id="dataGrid" style="width: 100%; height: 600px; overflow-x: hidden;"
                class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                [rowHeight]="rowHeight" (gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
                (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
        </div>
    </p-tabPanel>

</p-tabView>