<!-- <p-menubar>
    <div class="footer">
        <button type="button" pButton label="" icon="pi pi-home" style="margin-left:.25em"></button>
        <button type="button" pButton label="" icon="pi pi-percentage" style="margin-left:.25em"></button>
        <button type="button" pButton label="" icon="pi pi-power-off" style="margin-left:.25em"></button>
    </div>
</p-menubar>
-->

<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button icon="pi pi-home"  class="p-mr-2"></p-button>
        <p-button  icon="pi pi-percentage" styleClass="p-button-outlined p-mr-2"></p-button>
        <p-button icon="pi pi-power-off" styleClass="p-button-outlined"></p-button>
      
    </div>
  
    <div class="p-toolbar-group-right">
      <p-button icon="pi pi-search" class="p-mr-2"></p-button>
      <p-button icon="pi pi-calendar" styleClass="p-button-outlined p-mr-2"></p-button>
      <p-button icon="pi pi-times" styleClass="p-button-outlined"></p-button>
    </div>
  </p-toolbar>