/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

// @font-face {
//   font-family: "BalooThambi2-Medium";
//   src: url(assets/fonts/Baloo_Thambi_2/BalooThambi2-Medium.ttf)
//     format("truetype");
// }

//Engal
.displayTn {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 8px;
}

// d3 style
svg rect {
  fill: orange;
}

svg text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.stoxpo-watchlist .p-tabview .p-tabview-panels {
  padding: 0px !important;
}